/*
  Remove the following styles before
  sending to the device or simulator
*/

html,
body,
#root {
  height: 320px;
  width: 240px;
}

html,
body {
  background-color: #1c2022;
}

html body div .container {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}

#softkey {
  top: 320px;
  bottom: auto !important;
  width: 240px;
}
