header {
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  color: white;
  padding: 3px 10px;
}

header span {
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
}
